.body,html
{
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.8) 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito', sans-serif;
}
.navcontainer
{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    align-items: center;
    justify-content: center;
}
.logo
{
    width: 80px;
    height: 69.32px;
}
.butt
{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}
.spbutt
{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 35px;
    border-radius: 20px;
    background-color:rgba(188, 249, 15, 1);
    color: #000000;
}
.content1
{
    margin-left: 82px;
    margin-top: 190px;
    text-align: left;
}
.gach
{
    width: 90%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row1
{
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: space-evenly;
}
.box1
{
    width: 300px;
    height: 160px;
    display: flex;
    background: #9FD133;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
    box-shadow: 0px 4px 20px rgba(156, 156, 156, 0.42);
    border-radius: 10px;
    justify-content: center
}
.container1
{
    padding-top: 56px;
}
.cont1child1
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 60%;
    align-items: center;
}
.input
{
    padding-left: 87px;
}
.inputfield
{
    width: 95%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    background: transparent;
    word-wrap: break-word;
    word-break: break-word;  
}
.ended
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    column-gap: 20px;
    padding-top: 20%;
}
.socialmedia
{
    width: 50px;
    height: 50px;
}
.row11
{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
}
.logocolumn
{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}
.logo2
{
    display: flex;
    justify-content: first baseline;
    align-items: center;
    width: 120px;
    height: 100px;
}
.row2
{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}
.row2child
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.row2child p-1
{
    font-style: normal;font-weight: 600;font-size: 20px;line-height: 24px;color: #BCF90F;
}
.row2child p-2
{
    font-style: normal;font-weight: 400;font-size: 15px;line-height: 18px;color: #878787;
}
/*   RESPONSIVE   */
@media screen and (max-width: 1024px) {
    .socialmedia
    {
        width: 40px;
        height: 40px;
    }
    .row2
    {
        column-gap: 19px;
    }
    .row2child p-1 
    {
        font-size: 16px;
    }
    .row2child p-2 
    {
        font-size: 14px;
    }
}
