body,html
{
    background-image: url("https://www.linkpicture.com/q/460880.jpg");
    height: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.nav
{
    background-color: black;
    height: 100%;
    top: 0;
    width: 0;
    position: fixed;
    z-index: 1;
    transition: 0.5s;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-style: bold;
    filter: drop-shadow(0px 4px 50px rgba(255, 255, 255, 0.08));
    text-decoration: none;
}
.navcontent
{
    text-decoration: none;
    width: 100%;
    font-size: 30px;
    margin-left: 10%;
    margin-top: 20%;
    display: flex;
}
.contentchild
{
    color: #7b7b7b;
    text-decoration: none;
    justify-content: center;
}
.userwelcome
{
    display: block;
    margin-left: 10%;
    font-family: 'Nunito', sans-serif;
    font-family: 'Raleway', sans-serif;
}
.content1
{
    display: block;
    margin-left: 12%;
    width: 500px;
    height: 180.25px;
    top: 252px;
    font-family: 'Nunito', sans-serif;
    font-family: 'Raleway', sans-serif;
}
.content2
{
    margin-top: 9%;
    margin-left: 10%;
    display: block;
}
.butt
{
    filter: drop-shadow(0px 1px 30px rgba(201, 8, 8, 0.8));
    width: 381px;
    height: 65px;
    background-color: #c90808;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}
#main 
{
    transition: margin-left .5s;
    padding: 20px;
    color: white;
}  
.menucontain
{
    position: absolute;
    cursor: pointer;
}
.bar1, .bar2, .bar3
{
    width: 35px;
    height: 5px;
    background-color: red;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1
{
    transform: translate(0,11px) rotate(-45deg);
}
.change .bar2
{
    opacity: 0;
}
.change .bar3
{
    transform: translate(0,-11px) rotate(45deg);
}
.container
{
    color: #7b7b7b;
    position: absolute;
}