.body,html
{
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.8) 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito', sans-serif;
}
.navcontainer
{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    align-items: center;
    justify-content: center;
}
.logo
{
    width: 80px;
    height: 69.32px;
}
.butt
{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}
.spbutt
{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 35px;
    border-radius: 20px;
    background-color:rgba(188, 249, 15, 1);
    color: #000000;
}
.bigcontain
{
    padding-top: 96.68px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bigmg1
{
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    width: 1200px;
    height: 600px;
    filter: drop-shadow(0px 4px 40px rgba(255, 255, 255, 0.18));
    border-radius: 30px;
    background-image: url('overview1.jpg');
}
.bigimg1
{
    position: relative;
    width: 1200px;
    height: 600px;
    filter: drop-shadow(0px 4px 40px rgba(255, 255, 255, 0.18));
    border-radius: 30px;
}
.container1
{
    width: 290px;
    height: 180.25px;
    padding-left: 102px;
    padding-top: 200px;
}
.downbox
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 5px;
    width: 200px;
    height: 70px;
    margin-left: 130px;
    top: 593px;
    background: #AEF21D;
    box-shadow: 0px 4px 100px rgba(174, 242, 29, 0.53);
    border-radius: 30px;
}
.container2
{
    padding-top: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 48px;
}
.box1
{
    width: 260px;
    height: 120px;
    background: #000000;
    box-shadow: 0px 4px 100px rgba(255, 255, 255, 0.08);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 50px;
    
}
.box1content1
{
    width: 70px;
    height: 70px;
    background: #000000;
    border: 1px solid #676767;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1content2
{
    display:flex;
    flex-direction: column;
    row-gap: 20px;
}
.spbox1
{
    width: 260px;
    height: 120px;
    background: #000000;
    box-shadow: 0px 4px 100px rgba(255, 255, 255, 0.08);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 10px;
}
.maincon1
{
    padding-top: 107px;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: #BCF90F;
}
