.body,html
{
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.8) 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito', sans-serif;
}
.navcontainer
{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    align-items: center;
    justify-content: center;
}
.logo
{
    width: 80px;
    height: 69.32px;
}
.butt
{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}
.spbutt
{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 35px;
    border-radius: 20px;
    background-color:rgba(188, 249, 15, 1);
    color: #000000;
}
.content1
{
    margin-left: 156px;
}
.break
{
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
}
.gach
{
    border: 0.5px solid #606060;
    transform: rotate(-0.06deg);
    width: 80%;
}
.container2
{
    padding-top: 15px;
    display: flex;
    column-gap: 60px;
    row-gap: 25px;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}
.box1
{
    width: 252px;
    height: 24px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}
.container3
{
    position: relative;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    column-gap: 100px;
    row-gap: 15px;
    align-items: center;
    flex-flow: row wrap;
}
.warper
{
    background-color: #A9E206;
    height: 440px;
    width: 260px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box2
{
    width: 250px;
    height: 390px;
    background: #D9D9D9;
    box-shadow: 0px 4px 6px rgba(99, 99, 99, 0.42);
    border-radius: 10px;
}
.box2content
{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nd1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.funct1
{
    display: flex;
    flex: row;
    column-gap: 17px;
    align-items: center;
}
.container4
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addcardbutt
{
    width: 115px;
    height: 35px;
    border-radius: 20px;
    background-color:rgba(188, 249, 15, 1);
    color: rgba(0, 0, 0, 0.56);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ended
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    column-gap: 20px;
    padding-top: 20%;
}
.socialmedia
{
    width: 50px;
    height: 50px;
}
.row1
{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
}
.logocolumn
{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}
.logo2
{
    width: 120px;
    height: 100px;
}
.row2
{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}
.row2child
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.row2child p-1
{
    font-style: normal;font-weight: 600;font-size: 20px;line-height: 24px;color: #BCF90F;
}
.row2child p-2
{
    font-style: normal;font-weight: 400;font-size: 15px;line-height: 18px;color: #878787;
}
/*   RESPONSIVE   */
@media screen and (max-width: 1024px) {
    .content1
    {
        margin-left: 40px;
    }
    .socialmedia
    {
        width: 40px;
        height: 40px;
    }
    .row2
    {
        column-gap: 19px;
    }
    .row2child p-1 
    {
        font-size: 16px;
    }
    .row2child p-2 
    {
        font-size: 14px;
    }
}
