.body,html
{
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.8) 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito', sans-serif;
}
.navcontainer
{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    align-items: center;
    justify-content: center;
}
.logo
{
    width: 80px;
    height: 69.32px;
}
.butt
{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}
.spbutt
{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 35px;
    border-radius: 20px;
    background-color:rgba(188, 249, 15, 1);
    color: #000000;
}
.content1
{
    margin-left: 156px;
}
.break
{
    margin-left: 156px;
    display: flex;
    flex-direction: row;
    justify-content: space-around center;
    align-items: center;
}
.gach
{
    border: 0.5px solid #606060;
    transform: rotate(-0.06deg);
    width: 80%;
}
.container2
{
    margin-left: 140px;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    align-items: center;
}
.box1
{
    width: 252px;
    height: 24px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}
.ended
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    column-gap: 20px;
    padding-top: 20%;
}
.socialmedia
{
    width: 50px;
    height: 50px;
}
.row1
{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
}
.logocolumn
{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}
.logo2
{
    width: 120px;
    height: 100px;
}
.row2
{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}
.row2child
{
    display: flex;
    flex-direction: column;
}